* {
    box-sizing: border-box;
    transition: 0.3seg;
    margin: 0%;
}

html {
    max-width: 1200px;
}

.marco-circular {
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background-color: aqua;
    text-align: center;
}

.foto-carnet {
    background-image: url(./images/Marce6x6.jpg);
    /* back */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1em;
}

h1  {
    font-size: 8em;
    font-weight: 400;
    color: firebrick;
}


h2{
    font-size: 1.8em;
    font-weight: 400;
    color: firebrick;
}

h3 {
    font-size: 1.4em;
    font-weight:400 ;
    color: rgb(11, 2, 92);
}

h1, h2, h3, h5 {
    font-family: 'Comfortaa', cursive;
}

h4{
    color: rgb(156, 152, 152);
}

.logos {
    width: 40px;
    height: 40px;
}

/* video de fondo*/
#video_sect{
    z-index: -2;
    background-position: center;
    left: 0;
    top: 0;
    position: fixed;
}

/* header nav  main aside footer */
/* .grilla {

    max-height: 300vh;
    display: grid;
    gap: 5px 5px;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 0px 1fr 100px 100px;
    grid-template-rows: 3fr 0px 1fr 100px 100px;
    grid-template-areas: "header header header"
                        "header header header"
                        "nav nav nav"
                        "main main main"
                        "aside aside aside"
                        "footer footer footer";

}

.grilla{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
} */

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
}

#imagenPresentacion{
    display: flex;
    flex-direction: column;
}

nav {
    /* grid-area: nav; */
    background-color: bisque;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding: 20px 40px;
}

#portada {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    /* width: 100vw; */
    /* width: 80%; */
    justify-content: center;
}

/* formato de links */
a {
    color: coral;
}

a:hover {
    color: brown;
}

main {
    /* grid-area: main; */
    /* background-color: azure; */
}

aside {
    /* grid-area: aside; */
    /* background-color: aqua; */
}
footer {
    /* grid-area: footer; */
    /* background-color: aquamarine; */
}


/* figcaption h5 */
#headerName{
    background-color: aqua;
    display: inline-block;
    padding: 5%;
    /* width: 5em; */
}

#headerDescription {
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align:center;
    background-color: rgb(74, 167, 167);
    display: inline-block;
    width: fit-content;
}


/* porcentajes */
#headerName{
    background-color: aqua;
    display: inline-block;
    padding: 5%;
    /* width: 5em; */
    font-size: 8rem;
}

#headerDescription {
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align:center;
    background-color: rgb(74, 167, 167);
    display: inline-block;
    width: fit-content;
}



header figure img {
    display: inline-block;
    vertical-align: middle;
}



.whiteBackground {
    background-color: rgb(188, 227, 245);
}


@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-areas: "header header header"
        "header header header"
                            "nav nav nav"
                            "aside main main"
                            /* "aside aside aside" */
                            "footer footer footer";
    }
}
