* {
    box-sizing: border-box;
    transition: 0.3seg;
    margin: 0%;
    padding: 0;
}

li {
    list-style-type: none;
}

html {
    max-width: 1200px;
}

p {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1em;
}

h1  {
    font-size: 8em;
    font-weight: 400;
    color: firebrick;
    text-align: center;
}

h2{
    font-size: 1.8em;
    font-weight: 400;
    color: firebrick;
    padding: 1em 0 0 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(11, 2, 92);
    padding: 0.7em 0  0;
}

h1, h2, h3, h5 {
    font-family: 'Comfortaa', cursive;
}

h4{
    color: rgb(156, 152, 152);
}

#expDetail {
    padding: 0 0 0.3em 0;
}
.logos {
    width: 40px;
    height: 40px;
}


/* video de fondo*/
#video_background{
    z-index: -2;
    background-position: center;
    left: 0;
    top: 0;
    position: fixed;
}

.layer1 {
    z-index: 1;
}

.layertop {
    z-index: 10;
}

.contact {
vertical-align: middle;
}

.relative {
    position: relative;
}

header {
    /* padding: 2px; */
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: blue;
    z-index: 2;
}

.marco-circular {
    height: 10vh;
    width: 10vh;
    border-radius: 5vh;
    background-color: aqua;
    text-align: center;
}

.foto-carnet {
    background-image: url(./images/Marce6x6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#foto{
    display: inline-block;
}

nav {
    display: flex;
    background-color: bisque;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

#downloadpdf {
    width: 20px;
    height: 20px;
    /* color: tomato; */
}
/* ********************************** */

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personal-info {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 6em;
    /* z-index: 1; */
    align-items: center;
    justify-self: center;

}

#portada {
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* #portada:hover {
    display: none;
    transition: 3s;
    z-index: -4 ;
} */


a {
    color: coral;
}

a:hover {
    color: brown;
}



#headerName{
    /* background-color: aqua; */
    display: inline-block;
    padding: 5%;
    font-size: 8rem;
}

#headerDescription {
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align:center;
    /* background-color: rgb(74, 167, 167); */
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    padding: 0.3em;
}


header figure img {
    display: inline-block;
    vertical-align: middle;
}

#about-me {
    display: none;
/* visibility: hidden; */
transition: 5s;
/* z-index: 3; */
position: absolute;
left: 0;
top: 0;
}

#about-me {
    /* display: none; */
/* visibility: hidden; */
transition: 5s;
z-index: 0;
position: fixed;
left: 0;
top: 0;
}

.list {
    padding: 2em;
}

.whiteBackground {
    background-color: rgb(188, 227, 245);
}

.centro {
    align-self: space-around;
}

main {
    /* position: sticky; */
    position: relative;
    top: 80px;
    margin: auto;
}


@media (min-width: 600px) and (max-width: 1000px) {
    main {

    }
}
